.note-card {
    display: inline-block;
    margin-left: 1.5em;
    background-color: #3f51b5;
    color: whitesmoke;
    -webkit-box-shadow: 0 15px 10px #777;
    -moz-box-shadow: 0 15px 10px #777;
    box-shadow: 0 5px 10px #777;
    height: 100%;
    overflow: hidden;
}

.note-task-card {
    margin-top: 1em;
    min-width: 200px;
}

.note-header-card {
    display: block;
}

.note-title-card{
    display: inline-block;
}

.note-title-buttons {
    display: inline-block;
    padding-left: 0.5em;
}