.title-board {
    padding-top: 1em;
    padding-left: 2em;
}

.title-board div {
    display: inline-block;
}

.title-icon-text {
    display: flex;
    justify-content: center;
    align-items: center;
}

.material-icons {
    padding-right: 0.3em;
}

.div-button {
    float: right;
    margin-right: 2em;
}

.title-button-board {
    margin-left: 0.5em;
}

hr {
    border: 2px solid rgba(169,169,169, 0.3);
}