<app-spinner [isVisible]="isVisible"></app-spinner>

<div class="container">
    <div id="login">
        <img id="img-login" src="../../../../assets/img/logo.png" width="40%" alt="">
        <form class="login-form" [formGroup]="loginForm" (ngSubmit)="login(loginForm)">
          <h1>Sign In</h1>
          <div class="login-control-input">
              <mat-icon>email</mat-icon>
              <mat-form-field class="login-form-field">
                  <mat-label>Email</mat-label>
                  <input matInput aria-label="Email" formControlName="email"/>
                  <mat-error *ngIf="loginForm.get('email').hasError('required')">Email is required.</mat-error>
                  <mat-error *ngIf="loginForm.get('email').hasError('email')">Email is not valid.</mat-error>
              </mat-form-field>
          </div>
          <div class="login-control-input">
              <mat-icon>vpn_key</mat-icon>
              <mat-form-field class="login-form-field" >
                  <mat-label>Password</mat-label>
                  <input matInput [type]="hide ? 'password' : 'text'" formControlName="password">
                  <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                  <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                  </button>
                  <mat-error *ngIf="loginForm.get('password').hasError('required')">Password is required.</mat-error>
                  <mat-error *ngIf="loginForm.get('password').hasError('minlength')">Password is at least 2 characters.</mat-error>
                  <mat-error *ngIf="loginForm.get('password').hasError('maxlength')">Password can not be longer than 50 characteres.</mat-error>
                </mat-form-field>
          </div>
          <br />

          <div *ngIf="loginError">
              <p class="login-error">{{loginError}}</p>
          </div>
          <button mat-raised-button [disabled]="loginForm.invalid">SIGN IN</button>
      </form>
      <div id="register-button">
          <button mat-raised-button color="primary" routerLink="register">REGISTER</button>
      </div>
    </div>
</div>