#personal-title {
    margin-bottom: 3em;
}

#personal-title h2{
    margin: 0;
}

#personal-title hr{
    background-color: lightgrey;
    width: 10%;
    height: 0.4em;
    float: left;
    border: 0;
}

#personal-form-grid {
    display: grid;
    grid-template-rows: 30%;
    grid-template-columns: 50% 50%;
    grid-gap: 1em;
    margin-bottom: 3em;
}

.login-form-field {
    width: 85%;
  }
  
:host /deep/ .mat-form-field-wrapper{
  width: 100%;
  }

