<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'">
    
      <div id="user-data-menu">
        <img mat-card-avatar class="example-header-image" src="../../../../assets/img/shiba.jpg"/>
        <br>
        <p></p>
      </div>
      <div>{{ user.firstName }}</div>
    <h2><p style="padding-left: 0.5em;">Menu</p></h2>
    <mat-nav-list color="primary">
      <a mat-list-item routerLink="home" routerLinkActive="active-link">Home <span class="sidenav-icons"></span><mat-icon aria-hidden="false" aria-label="Home">home</mat-icon></a>
      <a mat-list-item routerLink="profile">Profile <span class="sidenav-icons"></span><mat-icon aria-hidden="false" aria-label="Home"><mat-icon>person</mat-icon></mat-icon></a>
      <a mat-raised-button routerLink="logout" routerLinkActive="active-link" class="logout-button">Logout <span class="sidenav-icons"></span><mat-icon aria-hidden="false" aria-label="Logout">subdirectory_arrow_left</mat-icon></a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span>SimplyNotes</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
