.board-container{
    display: flex;
  flex-direction: row;
  box-sizing: border-box;
  max-height: 100%;
  width: 80%;
}
.board-div {
    cursor: pointer;
    display: inline-block;
    margin-left: 3em;
    width: 15em;
    height: 5em;
    border-top-right-radius: 10px;
    background-color:#424242;
    color: white;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    transition: all 0.3s;
    overflow: hidden;
}

.board-div:hover {
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2);
    transform: translate3D(0,-1px,0) scale(1.03);
    /* width: 16em;
    height: 6em; */
    transition: all 0.3s;
}

.redirect-container {
    margin-left: 1em;
    color: white;
    text-decoration: none;
    display: inline-block;
    width: 65%;
}

.board-title {
    display: inline-block;
}

.delete-button-board, .edit-button-board {
    color: white;
    background-color: #424242;
    padding: 0;
    min-width: 10%;
    transition: all 0.3s;
}

.edit-button-board:hover {
    color: green;
    transition: all 0.3s;
}

.delete-button-board:hover {
    color: red;
    transition: all 0.3s;
}

@media (max-width: 767px) {
    .ripple-container {
        width: 98%;
        margin: 1%;
    }
    .board-container-div {
        width: 100%;
        padding: 1em;
    }
}