/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.modal-dialog {
    width: 400px;
}

.snack-success {
    color: rgb(22, 197, 22);
}

.snack-success button {
    color: white;
}
